<div class="route-form-container">
  <h1>Where are you flying?</h1>

  <form [formGroup]="routeForm" (ngSubmit)="onSubmit()">
    <div class="form-group mb-4">
      <label for="origin">Origin</label>
      <input type="text" class="form-control" id="origin" formControlName="origin" placeholder="Enter origin (3 characters)" maxlength="3" toUppercase>
      <div *ngIf="routeForm.get('origin')?.invalid && routeForm.get('origin')?.touched">
        <div *ngIf="routeForm.get('origin')?.errors?.['required']" class="text-danger">Origin is required.</div>
        <div *ngIf="routeForm.get('origin')?.errors?.['minlength']" class="text-danger">Origin must be 3 characters long.</div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="destination">Destination</label>
      <input type="text" class="form-control" id="destination" formControlName="destination" placeholder="Enter destination (3 characters)" maxlength="3" toUppercase>
      <div *ngIf="routeForm.get('destination')?.invalid && routeForm.get('destination')?.touched">
        <div *ngIf="routeForm.get('destination')?.errors?.['required']" class="text-danger">Destination is required.</div>
        <div *ngIf="routeForm.get('destination')?.errors?.['minlength']" class="text-danger">Destination must be 3 characters long.</div>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="selectCurrency">Select Currency:</label>
      <select id="selectCurrency" formControlName="selectCurrency" class="form-control" (change)="onCurrencyChange()">
        <option *ngFor="let currency of currencies" [value]="currency">{{ currency }}</option>
      </select>
    </div>
    <div class="form-group mb-4">
      <label for="selectStopovers">Stopovers:</label>
      <select id="selectStopovers" formControlName="selectStopovers" class="form-control" (change)="onStopoversChange()">
        <option *ngFor="let stopover of stopovers" [value]="stopover.quantity">{{ stopover.label }}</option>
      </select>
    </div>
    <div *ngIf="routeForm.hasError('sameOriginDestination')" class="text-danger mb-4">
      Origin and destination cannot be the same.
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="routeForm.invalid">Calculate Route</button>
  </form>

  <app-flight-routes *ngIf="routes.length > 0" [routes]="routes" [selectedCurrency]="selectedCurrency" [flights]="flights" [title]="'Outbound trip'"></app-flight-routes>
  <app-flight-routes *ngIf="returnRoutes.length > 0" [routes]="returnRoutes" [selectedCurrency]="selectedCurrency" [flights]="flights" [title]="'Return trip'"></app-flight-routes>

  <div *ngIf="!hasRoutes && formSubmitted" class="text-danger">No routes available.</div>
</div>

